In [2]:
file1 = open('Table5.txt', 'r')
Lines = file1.readlines()

In [3]:
print(len(Lines))

33770314

In [4]:
import pymysql.cursors
import time
import pandas as a

In [6]:
for i in range(0,10):
    print(Lines[i])

Entity_ID, Surface_ID, Frequency, Correct/Wrong

2,26608031,1,Lesser-than-3-surface-names

2,28292395,3,Lesser-than-3-surface-names

2,31659140,1,Lesser-than-3-surface-names

4,26608032,48,1

4,26782115,3,0

4,26926131,33,1

4,28570053,1,0

4,26608066,1,0

4,35268961,1,0

In [8]:
i = 1
while i < 33770314:
    j = 0
    sql2 = "INSERT IGNORE INTO `entitySurfaceLowFrequency` (entityId,surfaceNamesId) VALUES "
    start = time.time()
    while j < 5000:
        line = Lines[i]
        cols = line.split(",",3)
        if len(cols)<3 or cols[3][0] !='L':
            j = j + 1 
            i = i + 1
            continue
        
        #cols[3]= cols[3].replace('\n', '')
    
        sql2 = ''.join([sql2,'("',cols[0],'","',cols[1],'"),'])
        
        i = i + 1
        j = j + 1
    sql2 = sql2 + "(1,1);"
    connection = pymysql.connect(host='localhost',port=int(3306),user='root',passwd='wikiwiki2',db='Wiki',charset='utf8mb4', cursorclass=pymysql.cursors.DictCursor)
    with connection:
        with connection.cursor() as cursor:
                cursor.execute(sql2)
        connection.commit()
    end = time.time()
    string2= str((int(i/33770314*100)))+"% i.e. " +str(i) + " in "+str(end-start)
    print(string2 ,end = "\r")

IndexError: list index out of range